/* Utiliza la disposición flex-box para crear una galería de 6 imágenes con los siguientes parámetros

Las imágenes deben tener 300 píxeles de ancho

Deben reagruparse (wrap) cuando el ancho del viewport cambia */

* {
    margin: 0;
    padding: 0;
    
}

#backgroundVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}

.wrapper {
    position: relative;
    text-align: center;
}

.wrapper img {
    border-radius: 5%;
}

.mainImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImage h1 {
    position: absolute;
    color: turquoise;
    z-index: 1;
    font-size: 3rem;
}

.gallery {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.gallery img {
    opacity: 0.5;
}

.gallery img:hover {
    opacity: 1;
    cursor: pointer;
}

